* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

/* Add styles here! */

h1,
h2 {
  margin: 0;
  padding: 0;
  width: fit-content;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 32px;
  padding-bottom: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: bold;
}

header {
  height: 40%;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.max-width-wrapper {
  width: 40%;
  margin: 0 auto;
}

.intro-chunk {
  padding-top: 96px;
  padding-bottom: 64px;
}

header p {
  width: 60%;
  font-size: 1.23rem;
  padding: 12px 32px;
  margin: 0;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  height: 60%;
  padding-top: 96px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 48px 32px 48px;
  margin-left: -16px;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  background-color: #fff;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  border-top: 8px solid #fff;
}

.card p {
  margin: 32px;
}

@media screen and (max-width: 1367px) {
  body {
    font-size: 1.75rem;
  }

  .max-width-wrapper {
    width: 100%;
  }

  .intro-chunk {
    padding-top: 136px;
    height: 100%;
  }

  .title {
    font-size: 3.5rem;
  }

  .indented-heading {
    font-size: 2.5rem;
  }

  header p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 668px) {
  body {
    font-size: 1.25rem;
  }

  .intro-chunk {
    padding-top: 64px;
  }

  .title {
    font-size: 2rem;
    padding-bottom: 64px;
  }

  header {
    height: 70%;
  }

  header p {
    font-size: 1.5rem;
    width: 100%;
  }

  main {
    padding-top: 64px;
  }

  .indented-heading {
    font-size: 1.5rem;
    padding: 8px 48px 24px 48px;
    margin-right: 32px;
  }
} ;
